<div class="wrapper">

  <div class="header">
    <div class="title">
      応募者エントリーページ
    </div>
  </div>
  <div class="body">
    <div class="leftside">
      
    </div>
    <div class="center">

      <%= form_for @user, url: step2_informations_path, method: :get do |f| %>
       <%# <%= render 'shared/error' %>
        <div class='field'>
          <p>
          <%= f.label "証明写真(顔がはっきりと見えるもの・画像加工不可)"%>
          <%= image_tag @user.image.variant(resize:`100x100`), class:"click-upload" if @user.image.attached?%>
          <%# <span class="indispensable">必須</span> %>
          </p>
          <p>クリックしてファイルをアップロード</p>
          <%= f.file_field :image, id:"item-image" %>
      </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "姓"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :firstname, autofocus: true, id: 'registration_firstname' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "名"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :lastname, autofocus: true, id: 'registration_lastname' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "姓(ふりがな)"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :firstname_kana, autofocus: true, id: 'registration_firstname_kana' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "名(ふりがな)"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :lastname_kana, autofocus: true, id: 'registration_lastname_kana' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "メールアドレス"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, id: 'registration_email' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "性別"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.radio_button :sex, "男性" %>
            <%= f.label :sex, "男性", {value: "男性", style: "display: inline-block;"}  %>
            <%= f.radio_button :sex, "女性" %>
            <%= f.label :sex, "女性", {value: "女性", style: "display: inline-block;"}  %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "パスワード"%>
            <span class="indispensable">必須</span>
            <i>※英字と数字の両方を含めて8文字以上で設定してください</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off", id: 'registration_password' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "パスワード (確認用)"%>
            <span class="indispensable">必須</span>

          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off", id: 'registration_password_confirmation' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
          <%= f.label "生年月日" %>
          <span class="indispensable">必須</span>

          </div>
          <div class='field-input'>
          <%= f.date_select :birth_day,
             start_year: Time.now.year - 60, 
             end_year: Time.now.year - 18, 
             default: Date.new(1989, 1, 1), 
             use_month_numbers: true
              %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "電話番号(ハイフンなし)"%>
            <span class="indispensable">必須</span>

          </div>
          <div class='field-input'>
            <%= f.text_field :phone_number, id: 'registration_phone_number' %>
          </div>
        </div>


  <%= f.submit '続けて記入する', name:"commit", class:'btn' %>
<% end %>

    </div>
  </div>
</div>