<div class="wrapper">

  <div class="header">
    <div class="title">
      応募者エントリーページ
    </div>
  </div>
  <div class="body">
    <div class="leftside">
      
    </div>
    <div class="center">

<%= form_for @user, url: confirm_informations_path, do |f| %>
    
          <div class='field-label'>
            <%= f.label "高校名"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :highschool, autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "入学年度"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.select :h_admission,50.years.ago.year..  Date.today.year,prompt:"--",  autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "卒業年度"%>
          </div>
          <div class='field-input'>
            <%= f.select :h_graduate, 50.years.ago.year.. Date.today.year,prompt:"--", autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "大学名"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :univercity, autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "入学年度"%>
          </div>
          <div class='field-input'>
            <%= f.select :u_admission, 50.years.ago.year.. Date.today.year,prompt:"--", autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "卒業年度"%>
          </div>
          <div class='field-input'>
            <%= f.select :u_graduate, 50.years.ago.year.. Date.today.year,prompt:"--", autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "職歴"%>
          </div>
          <div class='field-input'>
            <%= f.text_area :job_experience, autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "資格(1つ目)"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :qualification_1, autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "取得年度(1つ目)"%>
          </div>
          <div class='field-input'>
            <%= f.select :q_year_1, 50.years.ago.year.. Date.today.year,prompt:"--", autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "資格(2つ目)"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :qualification_2, autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "取得年度(2つ目)"%>
          </div>
          <div class='field-input'>
            <%= f.select :q_year_2, 50.years.ago.year.. Date.today.year,prompt:"--", autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "資格(3つ目)"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :qualification_3, autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "取得年度(3つ目)"%>
          </div>
          <div class='field-input'>
            <%= f.select :q_year_3, 50.years.ago.year.. Date.today.year,prompt:"--", autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "最寄り駅"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.text_field :station, autofocus: true%>
          </div>

          <div class='field-label'>
            <%= f.label "配偶者の有無"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='field-input'>
            <%= f.radio_button :spouse, "あり" %>
            <%= f.label :spouse, "あり", {value: "あり", style: "display: inline-block;"} %>
            <%= f.radio_button :spouse, "女性" %>
            <%= f.label :spouse, "なし", {value: "なし", style: "display: inline-block;"} %>
          </div>

        <%= f.submit '登録する' %>
      <% end %>

    </div>
  </div>
</div>