<div class="header">
  <div class="title">
  応募者エントリーページ
  </div>
</div>

<%= form_for @user, url: step2_informations_path, method: :get do |f| %>
        <div class='field'>
          <div image_tag message.image.variant(resize:`500x500`), class="click-upload" if information.image.attached?>
          <p>証明写真(顔がはっきりと見えるもの・画像加工不可)
          <p>クリックしてファイルをアップロード</p>
          <%= f.file_field :image, id:"item-image" %>
          </div>
      </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "姓"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :firstname, autofocus: true%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "名"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :lastname, autofocus: true%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "姓(ふりがな)"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :firstname_kana, autofocus: true%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "名(ふりがな)"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :lastname_kana, autofocus: true%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "メールアドレス"%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "性別"%>
          </div>
          <div class='field-input'>
            <%= f.radio_button :sex, "男性" %>
            <%= f.label :sex, "男性", {value: "男性", style: "display: inline-block;"} %>
            <%= f.radio_button :sex, "女性" %>
            <%= f.label :sex, "女性", {value: "女性", style: "display: inline-block;"} %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "パスワード"%>
            <i>(英字数字それぞれ必ず1字以上含む・8文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "パスワード"%>
            <i>(確認用)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
          <%= f.label "生年月日" %>
          </div>
          <div class='field-input'>
          <%= f.date_select :birth_day,
             start_year: Time.now.year - 60, 
             end_year: Time.now.year - 18, 
             default: Date.new(1989, 1, 1), 
             use_month_numbers: true %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "電話番号(ハイフンなし)"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :phone_number %>
          </div>
        </div>


  <%= f.submit 'Continue' %>
<% end %>