<div class="wrapper">

  <div class="header">
    <div class="title">
      応募者エントリーページ
    </div>
  </div>
  <div class="body">
    <div class="leftside">
      
    </div>
    <div class='center'>
      <%= form_for (@parttime), url: confirm_parttimes_path do |f| %>
      <%# <%= render 'shared/error' %>
      <div class='input-block'>
       <p>シフト希望時間</p>
        <div class='field'>
          <div class='field-label'>
            <%= f.label "日曜【出勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :sun_parttime_in, autofocus: true, id:'registration_sun_parttime_in' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "日曜【退勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :sun_parttime_out, autofocus: true, id:'registration_sun_parttime_out' %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label "月曜【出勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :mon_parttime_in, autofocus: true, id:'registration_mon_parttime_in' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "月曜【退勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :mon_parttime_out, autofocus: true, id:'registration_mon_parttime_out' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "火曜【出勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :tue_parttime_in, autofocus: true, id: 'registration_tue_parttime_in' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "火曜【退勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :tue_parttime_out, autofocus: true, id:'registration_tue_parttime_out' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "水曜【出勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :wed_parttime_in, autofocus: true, id:'registration_wed_parttime_in' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "水曜【退勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :wed_parttime_out, autofocus: true, id:'registration_wed_parttime_out' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "木曜【出勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :thu_parttime_in, autofocus: true, id:'registration_thu_parttime_in' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "木曜【退勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :thu_parttime_out, autofocus: true, id:'registration_thu_parttime_out' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "金曜【出勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :fri_parttime_in, autofocus: true, id:'registration_fri_parttime_in' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "金曜【退勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :fri_parttime_out, autofocus: true, id:'registration_fri_parttime_out' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "土曜【出勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :sat_parttime_in, autofocus: true, id:'registration_sat_parttime_in' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "土曜【退勤時間】"%>
          </div>
          <div class='field-input'>
            <%= f.text_field  :sat_parttime_out, autofocus: true, id:'registration_sat_parttime_out' %>
          </div>
        </div>
      </div>

      <div class='input-block'>
        <p>〜質問です。詳しい内容につきましては面接の際にお話ししたいので一言でお答えください。〜</p>
        <div class='field'>
          <div class='field-label'>
            <%= f.label "【質問】アルバイトに応募しようと思ったきっかけはなんですか？"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='pr-input'>
            <%= f.text_field :pr_1, autofocus: true, id:'registration_pr_1' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "【質問】ここでの仕事を通して挑戦したいことは何ですか？"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='pr-input'>
            <%= f.text_field :pr_2, autofocus: true, id:'registration_pr_2' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "【質問】趣味は何ですか？"%>
            <span class="indispensable">必須</span>
          </div>
          <div class='pr-input'>
            <%= f.text_field :pr_3, autofocus: true, id:'registration_pr_3' %>
          </div>
        </div>
        <%= f.submit '登録する', class:'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>