  <div class="wrapper">
    <div class="header">
    <%= render "shared/header" %>
    </div>
    <div class="body">
      <div class="leftside">
      
      </div>

      <div class="center">
        <div class="user-confirmation">
        <table class="parttime-information-box">
        <tbody>
        <tr>
          <th class="detail-user">証明写真(顔がはっきりと見えるもの・画像加工不可)
          </th>
          <td class="detail-value"><%= @user.image.variant(resize: '100x100') if @user.image.attached?%></td>
        </tr>
        <tr>
          <th class="detail-user">氏名
          </th>
          <td class="detail-value"><%= @user.firstname %><%= @user.lastname %></td>
        </tr>
        <tr>
          <th class="detail-user">氏名(ふりがな)
          </th>
          <td class="detail-value"><%= @user.firstname_kana %><%= @user.lastname_kana %></td>
        </tr>
        <tr>
          <th class="detail-user">メールアドレス
          </th>
          <td class="detail-value"><%= @user.email %></td>
        </tr>
        <tr>
          <th class="detail-user">性別
          </th>
          <td class="detail-value"><%= @user.sex %></td>
        </tr>
        <tr>
        <tr>
          <th class="detail-user">生年月日
          </th>
          <td class="detail-value"><%= @user.birth_day %></td>
        </tr>
        <tr>
          <th class="detail-user">電話番号
          </th>
          <td class="detail-value"><%= @user.phone_number %></td>
        </tr>
        <tr>
          <th class="detail-user">郵便番号
          </th>
          <td class="detail-value"><%= @user.postal_code %></td>
        </tr>
        <tr>
          <th class="detail-user">都道府県
          </th>
          <td class="detail-value"><%= @user.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-user">市町村・番地
          </th>
          <td class="detail-value"><%= @user.city %></td>
        </tr>
        <tr>
          <th class="detail-user">建物名</th>
          <td class="detail-value"><%= @user.building %></td>
        </tr>
        <tr>
          <th class="detail-user">高校名
          </th>
          <td class="detail-value"><%= @user.highschool %></td>
        </tr>
        <tr>
          <th class="detail-user">入学年度
          </th>
          <td class="detail-value"><%= @user.h_admission %></td>
        </tr>
        <tr>
          <th class="detail-user">卒業年度</th>
          <td class="detail-value"><%= @user.h_graduate %></td>
        </tr>
        <tr>
          <th class="detail-user">大学名</th>
          <td class="detail-value"><%= @user.univercity %></td>
        </tr>
        <tr>
          <th class="detail-user">入学年度</th>
          <td class="detail-value"><%= @user.u_admission %></td>
        </tr>
        <tr>
          <th class="detail-user">卒業年度</th>
          <td class="detail-value"><%= @user.u_graduate %></td>
        </tr>
        <tr>
          <th class="detail-user">職歴</th>
          <td class="detail-value"><%= @user.job_experience %></td>
        </tr>
        <tr>
          <th class="detail-user">資格(1つ目)</th>
          <td class="detail-value"><%= @user.qualification_1 %></td>
        </tr>
        <tr>
          <th class="detail-user">取得年度(1つ目)</th>
          <td class="detail-value"><%= @user.q_year_1 %></td>
        </tr>
        <tr>
          <th class="detail-user">資格(2つ目)</th>
          <td class="detail-value"><%= @user.qualification_2 %></td>
        </tr>
        <tr>
          <th class="detail-user">取得年度(2つ目)</th>
          <td class="detail-value"><%= @user.q_year_2 %></td>
        </tr>
        <tr>
          <th class="detail-user">資格(3つ目)</th>
          <td class="detail-value"><%= @user.qualification_3 %></td>
        </tr>
        <tr>
          <th class="detail-user">取得年度(3つ目)</th>
          <td class="detail-value"><%= @user.q_year_3 %></td>
        </tr>
        <tr>
          <th class="detail-user">最寄り駅
          </th>
          <td class="detail-value"><%= @user.station %></td>
        </tr>
        <tr>
          <th class="detail-user">配偶者の有無

            </th>
          <td class="detail-value"><%= @user.spouse %></td>
        </tr>

        <tr>
          <th class="detail-parttime">日曜
          </th>
          <td class="detail-value"><%= @parttime.sun_parttime_in %>〜<%= @parttime.sun_parttime_out %></td>
        </tr>
        <tr>
          <th class="detail-parttime">月曜
          </th>
          <td class="detail-value"><%= @parttime.mon_parttime_in %>〜<%= @parttime.mon_parttime_out %></td>
        </tr>
        <tr>
          <th class="detail-parttime">火曜
          </th>
          <td class="detail-value"><%= @parttime.tue_parttime_in %>〜<%= @parttime.tue_parttime_out %></td>
        </tr>
        <tr>
          <th class="detail-parttime">水曜
          </th>
          <td class="detail-value"><%= @parttime.wed_parttime_in %>〜<%= @parttime.wed_parttime_out %></td>
        </tr>
        <tr>
          <th class="detail-parttime">木曜
          </th>
          <td class="detail-value"><%= @parttime.thu_parttime_in %>〜<%= @parttime.thu_parttime_out %></td>
        </tr>
        <tr>
          <th class="detail-parttime">金曜
          </th>
          <td class="detail-value"><%= @parttime.fri_parttime_in %>〜<%= @parttime.fri_parttime_out %></td>
        </tr>
        <tr>
          <th class="detail-parttime">土曜
          </th>
          <td class="detail-value"><%= @parttime.sat_parttime_in %>〜<%= @parttime.sat_parttime_out %></td>
        </tr>
        <tr>
          <th class="detail-parttime">【質問】アルバイトに応募しようと思ったきっかけはなんですか？
          </th>
          <td class="detail-value"><%= @parttime.pr_1 %></td>
        </tr>
        <tr>
          <th class="detail-parttime">【質問】ここでの仕事を通して挑戦したいことは何ですか？
          </th>
          <td class="detail-value"><%= @parttime.pr_2 %></td>
        </tr>
        <tr>
          <th class="detail-parttime">【質問】趣味は何ですか？
          </th>
          <td class="detail-value"><%= @parttime.pr_3 %></td>
        </tr>
      </tbody>
    </table>
      
        <div class='account-page' id='account-page'>
          <%=link_to "トップへ戻る", root_path, class:'btn'%>
        </div>
      
      </div>
    </div>
  </div>